@import "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
    background-repeat: no-repeat;
    display: inline-block;
    width: 19px;
    height: 19px;
}

.icon-Up {
    background-position: -3px -1px;
}

.icon-Down {
    background-position: -2px -49px;
}

.icon-Left {
    background-position: -1px -97px;
}

.icon-Right {
    background-position: 0 -145px;
}

.icon-UpDown {
    background-position: -47px 0;
}

.icon-UpLeft {
    background-position: -1px -193px;
}

.icon-UpRight {
    background-position: -1px -240px;
}

.icon-DownUp {
    background-position: -47px -49px;
}

.icon-DownLeft {
    background-position: -1px -288px;
}

.icon-DownRight {
    background-position: -1px -336px;
}

.icon-LeftRight {
    background-position: -1px -431px;
}

.icon-LeftUp {
    background-position: -47px -191px;
}

.icon-LeftDown {
    background-position: -47px -242px;
}

.icon-RightLeft {
    background-position: -1px -384px;
}

.icon-RightUp {
    background-position: -47px -95px;
}

.icon-RightDown {
    background-position: -47px -145px;
}